Repository z9956/react-vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

commit
  .eslintrc.cjs
  .lintstagedrc.json
  package.json
  src/App.css
  src/App.jsx
  src/api/login.js
  src/config/index.js
  src/main.jsx
  src/pages/404.jsx
  src/pages/login/index.jsx
  src/pages/login/style.module.less
  src/router/auth.js
  src/router/index.jsx
  src/utils/request.js
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write

commit
  package.json
  src/api/basicData.js
  src/api/login.js
  src/components/Calendar.js
  src/components/DatePicker.js
  src/components/GlobalHeader/index.jsx
  src/components/GlobalHeader/style.module.less
  src/components/TimePicker.js
  src/components/index.js
  src/config/index.js
  src/index.css
  src/main.jsx
  src/pages/buMaintenance/AddSettlementAuthority/index.jsx
  src/pages/buMaintenance/index.jsx
  src/pages/buMaintenance/style.module.less
  src/pages/home/index.jsx
  src/pages/home/style.module.less
  src/pages/login/index.jsx
  src/pages/login/style.module.less
  src/router/AuthProvider.jsx
  src/router/auth.js
  src/router/index.jsx
  src/store/useAuth.js
  src/utils/constant.js
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write

commit
  package.json
  src/components/Calendar.js
  src/components/DatePicker.js
  src/components/GlobalHeader/index.jsx
  src/components/GlobalHeader/style.module.less
  src/components/TimePicker.js
  src/components/index.js
  src/i18n/index.js
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/index.css
  src/main.jsx
  src/pages/buMaintenance/AddSettlementAuthority/index.jsx
  src/pages/buMaintenance/CreateModal/index.jsx
  src/pages/buMaintenance/CreateModal/style.module.less
  src/pages/buProfit/CreateModal/index.jsx
  src/pages/buProfit/CreateModal/style.module.less
  src/pages/buProfit/index.jsx
  src/pages/buProfit/style.module.less
  src/pages/confirmRights/CreateModal/index.jsx
  src/pages/confirmRights/CreateModal/style.module.less
  src/pages/confirmRights/index.jsx
  src/pages/confirmRights/style.module.less
  src/pages/home/index.jsx
  src/pages/home/style.module.less
  src/router/index.jsx
  src/store/useAuth.js
  yarn.lock
Due: eslint --fix, prettier --write

commit
  src/api/basicData.js
  src/api/login.js
  src/components/GlobalHeader/index.jsx
  src/components/GlobalHeader/style.module.less
  src/pages/buMaintenance/CreateModal/index.jsx
  src/pages/buMaintenance/CreateModal/style.module.less
  src/pages/buMaintenance/index.jsx
  src/pages/buMaintenance/style.module.less
  src/pages/buProfit/CreateModal/index.jsx
  src/pages/buProfit/CreateModal/style.module.less
  src/pages/buProfit/index.jsx
  src/pages/buProfit/style.module.less
  src/pages/confirmRights/CreateModal/index.jsx
  src/pages/confirmRights/CreateModal/style.module.less
  src/pages/confirmRights/index.jsx
  src/pages/confirmRights/style.module.less
  src/pages/home/index.jsx
  src/router/auth.js
  src/store/useAuth.js
Due: eslint --fix, prettier --write

commit
  .lintstagedrc.json
  README.md
  package.json
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/main.jsx
  src/pages/permissions/index.jsx
  src/router/index.jsx
  src/store/useAuth.js
  src/utils/request.js
  vite.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

commit
  src/router/index.jsx
Due: eslint --fix, prettier --write

chore: 依赖更新
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc.json
  bun.lockb
  eslint.config.js
  index.html
  package.json
  src/i18n/locales/en_US.json
  src/i18n/locales/zh_CN.json
  src/index.css
  src/main.jsx
  src/pages/home/style.module.less
  src/pages/login/index.jsx
  src/pages/login/style.module.less
  src/router/index.jsx
  vite.config.js
Due: eslint --fix, prettier --write

chore: biome替换eslint、prettier
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  biome.json
  bun.lockb
  eslint.config.js
  package.json
  vite.config.js
Due: eslint --fix, prettier --write

refactor: 路由鉴权优化
  src/context/AuthContext.js
  src/pages/login/index.jsx
  src/router/AuthProvider.jsx
  src/router/index.jsx
  src/store/useAuthStore.js
Due: eslint --fix, prettier --write

chore: lint调整
  .lintstagedrc.json
  package.json
Due: none

docs: update md
  README.md
Due: prettier --write

perf: 路由鉴权优化
  src/router/AuthProvider.jsx
Due: eslint --fix, prettier --write

chore: vercel.json
  vercel.json
Due: none

style: style
  src/config/index.js
Due: eslint --fix, prettier --write

docs: update README.md
  README.md
Due: prettier --write

chore: 环境变量、配置调整
  .env.development
  .env.production
  .env.staging
  package.json
  vite.config.js
Due: eslint --fix, prettier --write

commit
  README.md
  src/config/index.js
  vite.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{js,jsx,ts,tsx,less,md}
